.container__menu-title{
  margin: 0 10rem 60px 12%;
}

.menu-title__description {
  margin: 15px 200px 15px 0;
}

.menu-title__buttons {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
}

.menu-title__buttons > li{
  margin-right: 30px;
  list-style: none;
}

.menu-title__buttons > li:last-child{
  margin-left: 35%;
  /* list-style: none; */
}


