<div class="container__menu-title">
  <div class="menu-title__title">
    <h1><a [routerLink]="['content', Id]">{{ cardTitle }}</a></h1>
  </div>

  <div class="menu-title__description">
    <p>
      <a [routerLink]="['content', Id]">
          {{ cardDescription }}
      </a>
    </p>
  </div>

  <div class="menu-title__buttons">
    <ul>
      <li><a href="#">Read article</a></li>
      <li><a href="#">21 comments</a></li>
      <li><a href="#"><img src="../../../assets/markbook.svg" alt="markbook">READ LATER</a></li>
    </ul>
    <p>By {{ cardAuthor }}</p>
  </div>
</div>
