.container__small-card{
  margin-right: 4rem;
  padding-bottom: 15px;
  min-width: 350px;
  max-width: 500px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 150px;
  height: -webkit-fill-available;
  object-fit: cover;
  margin-right: 20px;
}

.small-card__title > h4{
  margin-bottom: 8px;
}

/* .container__small-card__separator{
  margin-top: 10px;
} */
