.container__small-card{
  width: 350px;
  margin: 0 8rem 15px 0;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 150px;
  min-width: 150px;
  margin-right: 20px;
}

.small-card__title > h4{
  margin-bottom: 8px;
}

.container__small-card__separator{
  margin-top: 10px;
}
