.container__articles{
  padding-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #181818;
}


.container__posts{
  display: flex;
  flex-direction: row;

  margin-left: 12%
}

