#logo{
  font-weight: 800;
  font-size: 1.2rem;
}

.container__menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 8rem;
  padding: 1rem;
}

.menu .icons:hover svg, .menu .icons:hover g{
  fill: #00cbce;
  stroke: #00cbce;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding-top: 2px;
}

.menu .text {
  position: relative;
  text-align: center;
  transition-duration: .25s;
}

.menu .text::after{
  background-color: #FFF;
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  transition-duration: .25s;
  width: 100%;
  content: '';
  transform: scaleX(0);
  transform-origin: center;
}

.menu .text > a {
  cursor: pointer;
  display: inline-block;
  padding-bottom: 10px;
  font-weight: 500;
}

.menu .text:hover::after{
  transform: scaleX(1);
}
